name: ${APP_NAME}-${STAGE}

services:

  traefik:
    image: traefik:v3.6.2
    profiles: [ "dev", "test","stage" ]
    container_name: traefik
    restart: always
    command:
      - --api=true
      - --api.dashboard=true
      - --log.level=DEBUG
      - --log.filePath=/logs/traefik.log
      - --entrypoints.web.address=:80
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true

    networks:
      - web
    ports:
      - "80:80"

    volumes:

      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./logs:/logs

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.localhost`)"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.routers.traefik.service=api@internal"


  postgres:
    image: postgres:${POSTGRES_TAG:-17}
    profiles: [ "dev", "test","stage" ]
    container_name: postgres-${STAGE}
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    ports:
      - '${POSTGRES_PORT}:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - backend

  dozzle:
    image: ghcr.io/amir20/dozzle:latest
    profiles: [ "dev", "test", "stage" ]
    container_name: dozzle-${STAGE}
    ports:
      - "${DOZZLE_PORT}:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      DOZZLE_LEVEL: info
    restart: unless-stopped
    networks:
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.rule=Host(`dozzle.localhost`)"
      - "traefik.http.routers.dozzle.entrypoints=web"
      - "traefik.http.services.dozzle.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.dozzle-stripprefix.stripprefix.prefixes=/logs"
      - "traefik.http.routers.dozzle.middlewares=dozzle-stripprefix"

  minio:
    image: minio/minio:${MINIO_TAG}
    profiles: [ "dev", "test", "stage" ]
    container_name: minio-${STAGE}
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}

      # Optional: Standard-Bucket-Auto-Create via entrypoint/initjob
    ports:
      - "${MINIO_PORT:-9000}:9000"
      - "${MINIO_CONSOLE_PORT:-9001}:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD-SHELL", "curl -fsS http://localhost:9000/minio/health/live || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev
    restart: unless-stopped
    networks:
      - backend
      - web
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      # MinIO Console (auf separatem Host minio.localhost)
      - "traefik.http.routers.minio-console.rule=Host(`minio.localhost`)"
      - "traefik.http.routers.minio-console.entrypoints=web"
      - "traefik.http.routers.minio-console.service=minio-console"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"
      # MinIO API (auf separatem Host minio-api.localhost)
      - "traefik.http.routers.minio-api.rule=Host(`minio-api.localhost`)"
      - "traefik.http.routers.minio-api.entrypoints=web"
      - "traefik.http.routers.minio-api.service=minio-api"
      - "traefik.http.services.minio-api.loadbalancer.server.port=9000"


volumes:
  postgres_data:
  minio_data:

networks:
  web:
    external: true
  backend:
    internal: true